<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show_task</title>
</head>
<body>
    <!-- <div>
        <ul>

            {% for task in tasks %}
                <li>{{ task.title }}</li>

                {% comment %} <li>{{ task.status }}</li> {% endcomment %}
            {% endfor %}
        </ul>

    </div>
    <div>
        {{task_3}}
    </div>
    <div>
        {{first_task}}
    </div> -->

    <h1>Show Data here-</h1>

    <div>
        <ol>
            {% for task in tasks %}
                <li>
                    <p>{{task.title}}</p>
                    <span>{{task.project.name}}</span>
                </li>
            {% endfor %}
        </ol>
    </div>
</body>
</html>