<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show_task</title>
</head>
<body>
    <!-- <div>
        <ul>

            {% for task in tasks %}
                <li>{{ task.title }}</li>

                {% comment %} <li>{{ task.status }}</li> {% endcomment %}
            {% endfor %}
        </ul>

    </div>
    <div>
        {{task_3}}
    </div>
    <div>
        {{first_task}}
    </div> -->

    <h1>Show Data here-</h1>

    <div>
        <ol>
            {% comment %} {% for project in tasks %}
                <li>
                    <p>{{project.name}}</p>
                    {% for task in project.task_set.all %}
                        <p>{{task.title}}</p>
                    {% endfor %}
                </li>
            {% endfor %} {% endcomment %}

            {% comment %} {% for task in tasks %}
                <li>
                    <p>{{task.title}}</p>
                    {% for emp in task.assigned_to.all %}
                        <p>{{emp.name}}</p>
                    {% endfor %}
                </li>
            {% endfor %} {% endcomment %}

            {% comment %} <p>{{task_count}}</p> {% endcomment %}

            {% for project in projects %}
            
                <li>
                    <p>{{project.name}}</p>
                    <p>{{project.num_task}}</p>
                </li>

            {% endfor %}
        </ol>
    </div>
</body>
</html>