<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show_task</title>
</head>
<body>
    <!-- <div>
        <ul>

            {% for task in tasks %}
                <li>{{ task.title }}</li>

                {% comment %} <li>{{ task.status }}</li> {% endcomment %}
            {% endfor %}
        </ul>

    </div>
    <div>
        {{task_3}}
    </div>
    <div>
        {{first_task}}
    </div> -->


    <div>
        <ul>
            {% for pending_task in words_or %}
                <li>
                    <p>{{pending_task.title}}</p>
                    <span>{{pending_task.status}}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>