body {
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.box-content {
    width: 300px;
    /* height: 300px; */
    background-color: aqua;
    border: 2px solid red;
    text-align: center;

    padding: 40px;
    margin: 20px;
    /* margin-top: 10px; */
}

.dis {
    display: inline;
}

.dis-block {
    background-color: rgb(0, 0, 0);
    font-weight: bold;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 15px;
    margin-left: 5px;
    border: 2px solid rgb(226, 43, 43);
}

.box {
    width: 200px;
    height: 200px;
    border: 2px solid aquamarine;
    margin-top: 10px;
    padding: 5px;
}

.box1 {
    /* position: relative; */
    margin-left: 100px;

}


.line-1 {
    width: 200px;
    height: 200px;
    margin-right: 10px;
    background-color: rgba(74, 223, 74, 0.565);

}

.line-2 {
    width: 200px;
    height: 200px;
    background-color: rgba(223, 74, 74, 0.565);
}

.line-3 {
    width: 200px;
    height: 200px;
    background-color: rgba(74, 223, 74, 0.565);
}


.line {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    color: rgb(255, 255, 255);
    border: 1px solid white;
    
    font-weight: bold;
    border-radius: 5px;

}

.line-container {
    height: 100vh;
    background-image: url('images/view-green-palm-tree-species-with-beautiful-foliage.jpg'), linear-gradient(45deg,  rgba(74, 223, 74, 0.326), rgba(223, 74, 74, 0.266),  rgba(74, 223, 74, 0.31));
    background-blend-mode: overlay;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    flex-wrap: wrap;
    

}