*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(206, 246, 246);
}

nav{
    display: flex;
    background-color: aliceblue;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.logo{
    width: 80px;
}

li{
    list-style: none;
    font-size: 20px;
}

.menu-cont{
    display: flex;
    gap: 20px;
}

li:hover{
    color:blue;
    cursor: pointer;
}

.banner-img{
    width: 350px;
}

.banner-cont{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin: auto; */
    /* width: 100%; */
}

.banner-left{
    width: 400px;
    line-height: 1.5;
    
}
.btn{
    padding: 12px 18px;
    border-radius: 9px;
    border: 2px solid black;
    color: white;
    cursor: pointer;
}

.hire-btn{
    background-color: rgb(37, 244, 244);
    color: black    ;
}

.project-btn{
    background-color: aquamarine;
    color: black;
}
.title{
    font-size: 45px;
}
.title-2{
    font-size: 25px;
}
